# Entorno Virtual
.venv/
venv/
env/

# Python cache
**/__pycache__/
*.py[cod]

# Base de datos local (Challenge)
*.db
*.sqlite3

# Archivos de Jupyter
.ipynb_checkpoints/

# Carpeta de VS Code
.vscode/
